<%- include('./includes/head.ejs') %>

    <body>
        <section class="formulario">
            <form action="" method="POST">
                <div>
                    <h1>
                        <%= cookie %>
                    </h1>
                </div>
            </form>
        </section>

        <%- include('./includes/footer.ejs') %>