.grid {
    display: grid;
    grid-template-columns: 500px 500px;
    gap: 20px;
}

.box {
    height: 100px;
}

.red {
    background: red;
    grid-row: 1/1;
    grid-column: 1/3;
}

.yellow {
    background: yellow;
}

.purple {
    background: purple;
}

.green {
    background: green;
}

.blue {
    background: blue;
}

.pink {
    background: pink;
    grid-row: 4/4;
    grid-column: 1/3;
}