body {
    font-family: sans-serif;
}

.text p {
    font-size: 18px;
    font-style: italic;
    font-weight: bold;
    direction: rtl;
    /* É usado para dar direção ao texto */
    letter-spacing: 2px;
    /* Espaçamento entre as letras */
    word-spacing: 3px;
    /* Espaçamento entre as palavras */
    line-height: 30px;
    /* Espaçamento das linhas */
    text-decoration: underline;
    text-indent: 30px;
    /* São paragrafos */
}